################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ComputeShaderSort11/Debug
/ComputeShaderSort11/.vs/ComputeShaderSort11_2017_Win10/v15
/ComputeShaderSort11/x64/Debug
/ComputeShaderSort11.hlsl
/Shaderator/ComputeShaderSort11.hlsl
/ComputeShaderSort11/x64/Release
/ComputeShaderSort11/Release/ComputeS.D3D1110B.tlog
/ComputeShaderSort11/Release
/ComputeShaderUnitTests/Debug
/ComputeShaderUnitTests/Release
/ComputeShaderUnitTests/x64
/x64/Debug
/Debug
/output
/intermediate
/Shaderator/Shaderator_old.lib
/Shaderator/Shaderator_d_old.lib
/.vs/Shaderator/v15
/ShaderatorUnitTests/x64/Debug
/packages
/.idea
